<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>skyfly</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
  <div class="frames" id="frames">
    <div class="faces">

    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>
